/* Header inteiro */
:root {
    --cor-font: #393436;
    --cor-fundo-header: #F6F6F6;
    --cor-hover: #870B3B;
    --cor-fundo-section: #4F1A46;
    --font-menu: 'Open Sans', sans-serif;
    --font-banner: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Header */
.container__header {
    background-color: var(--cor-fundo-header);
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 10vh;
}

.container__header ul {
    display: flex;
}

.container__header-logo {
    width: 80px;
}

.container__header-item {
    margin-left: 120px;
    text-decoration: none;
    font-family: var(--font-menu);
    font-weight: 600;
    color: var(--cor-font);
}

.container__header-item:hover {
    border-bottom: 3px solid var(--cor-hover);
}

/* Section */
.container__banner {
    height: 90vh;
    background-color: var(--cor-fundo-section);
}

.container__banner-conteudo {
    max-width: 1200px;
    margin: 0 auto;
}

.detalhe-laranja {
    position: absolute;
    left: 500px;
    top: 85px;
    width: 400px;
    z-index: 3;
}

.detalhe-circulo {
    position: absolute;
    top: 435px;
    left: 750px;
    width: 200px;
    z-index: 1;
}

.foto-mulheres {
    position: absolute;
    left: 280px;
    top: 105px;
    width: 600px;
    z-index: 2;
}

.container__banner-texto {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    color: var(--cor-font);
    width: 300px;
    height: 250px;
    font-size: 30px;
    background-color: var(--cor-fundo-header);
    border-radius: 10px;
    border-top: 20px solid var(--cor-hover);
    border-bottom: 20px solid var(--cor-hover);
    position: absolute;
    left: 820px;
    top: 165px;
    z-index: 4;
    font-family: var(--font-banner);
    line-height: 35px;
    text-transform: uppercase;
}

/* media para tablet */
@media screen and (max-width: 900px) {
    .container__header {
        display: flex;
        flex-direction: column;
        height: 100px;
        padding: 0;
        max-width: none;
        margin: 20px 0;
    }

    .container__header-item {
        margin-left: 0;
        margin-right: 15px;
    }

    .container__banner {
        height: 75vh;
    }

    .container__banner-conteudo {
        max-width: none;
        margin: 0;
    }

    .detalhe-laranja {
        position: absolute;
        left: 170px;
        top: 180px;
        width: 250px;
        z-index: 3;
    }
    
    .detalhe-circulo {
        position: absolute;
        top: 342px;
        left: 330px;
        width: 125px;
        z-index: 1;
    }
    
    .foto-mulheres {
        position: absolute;
        left: 105px;
        top: 188px;
        width: 300px;
        z-index: 2;
    }

    .container__banner-texto {
        font-size: 20px;
        left: 385px;
        top: 220px;
        width: 200px;
        height: 160px;
        line-height: normal;
    }
}

/* media para mobile */
@media screen and (max-width: 600px) {
    .container__header {
        display: flex;
        flex-direction: column;
        height: 100px;
        padding: 0;
        max-width: none;
        margin: 20px 0;
    }

    .container__header-item {
        margin-left: 0;
        margin-right: 15px;
    }

    .container__banner {
        height: 75vh;
    }

    .container__banner-conteudo {
        max-width: none;
        margin: 0;
    }

    .detalhe-laranja {
        position: absolute;
        left: 85px;
        top: 180px;
        width: 250px;
        z-index: 3;
    }
    
    .detalhe-circulo {
        position: absolute;
        top: 342px;
        left: 240px;
        width: 125px;
        z-index: 1;
    }
    
    .foto-mulheres {
        position: absolute;
        left: 20px;
        top: 188px;
        width: 300px;
        z-index: 2;
    }

    .container__banner-texto {
        font-size: 20px;
        left: 50px;
        top: 380px;
        width: 200px;
        height: 160px;
        line-height: normal;
    }
}