.history {
    background-color: var(--branco);
    font-family: Open-Sans;
    position: relative;
}

/* The actual timeline (the vertical ruler) */
#timeline {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 100px auto;
}

/* The actual timeline (the vertical ruler) */
.line-timeline{
    position: absolute;
    height: 100%;
    width: 6px;
    background-color: #393436;
    left: calc(50vw - 3px);
    top: 0;
    border-radius: 10px;
}
.top-circle{
    background-color: var(--cinza);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 25px;
    left: calc(50vw - 25px);
    position: relative;
    
}
.botton-circle{
    background-color: var(--cinza);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 25px;
    left: calc(50vw - 25px);
    position: relative;
    
}


/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 55%;
    border-radius: 50px 0px;

}

/*
<img src="./images/timeline/ada-lovelace.png" alt="Image - Ada Lovelace">
 */

/* Place the container to the left */
.left {
    left: 0;
    border-radius: 50px 0px;
    padding: 20px 50px 15px 50px;
}

/* Place the container to the right */
.right {
    left: 45%;
    border-radius: 0px 50px;
    padding: 20px 50px 15px 50px;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -4px;
}

/* The actual content */
.content-timeline {
    margin: 40px 50px;
    text-align: justify;
    background-color: #A80359;
    color: #F6F6F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: normal;
}

.imageLeft {
    right: -3px;
}

.imageRight {
    left: -3px;
}

.background-img-timeline{
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #A80359;
    top: -56px;
    border-radius: 50%;
    z-index: 1;
}

.content-timeline img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
}

.titleRight {
    margin: 0 0 0 100px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
}

.subtitleRight {
    margin: 0 0 30px 100px;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.titleLeft {
    margin: 4px 0 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.subtitleLeft {
    margin: 0 0 30px 0;
    font-size: 1rem;
    font-weight: bold;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {

    .history{
        width: 100vw;
    }

    /* Full-width containers */
    .container-timeline {
        width: 500px;
        margin-bottom: 30px;
    }

    .background-img-timeline{
        width: 160px;
        height: 160px;
        left:35%;
    }

    .content-timeline img {
        width: 150px;
        height: 150px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: calc(50vw - 250px);
    }

    .left{
        left: calc(50vw - 250px);
    }

    .titleRight {
        margin: 30px 0 4px 0px;
        text-align: center;
    }

    .subtitleRight {
        margin: 8px 0 8px 0px;
        text-align: center;
    }

    .titleLeft {
        margin: 30px 0 4px 0px;
        text-align: center;
    }

    .subtitleLeft {
        margin: 0 0 4px 0px;
        text-align: center;
    }
}